.Ch1{
    font-size:calc(10px + 0.5vw);
    text-align:center;

}
.T1{
    width: 100vw;
    font-size:calc(14px + 0.5vw);
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: calc(14px + 0.5);
    font-family:Calibri;
    font-weight:normal;
    text-align:center;
    margin-top: 1vw;
    /* padding: 1.5vw; */
    
}