@import "~antd/dist/antd.less";

.logo {
  height: cal(100px-2vh);
  width: cal(100px-vw);
}

.title {
  font-size: 3.5vw;
  text-align: center;
  border: 2px solid black;
}

.container-layout {

  display: flex;
  border:2px solid black;
  margin-top:80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 80vw;
  padding: 2vw;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 60%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-outer {
  top: 0;
  display: flex;
  flex-direction: row;
 
  width: 100vw;
  // height: 45vh;

  justify-content: center;
  align-items: center;

}

.app-inner {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 80%;
  background-color: white;
}

.tag-cloud {
  flex: 1;
}

.tag-cloud > div {
  transition: 1.4s;
}
